.navbar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }

  .nav-link {
   color: #00037E;
  }

  .btn {
    margin-right: 16px;
    padding-right: 8px;
  }
 